<div class="limiter animated fadeInRight">
  <app-navbar></app-navbar>
  <div class="px-30">
    <!-- Texti -->
    <p class="text-center fs-3">Usuarios Registrados</p>
    <!-- Botón recargar -->
    <div class="d-grid" *ngIf="recargar">
      <button class="btn btn-primary mx-auto" 
              type="button"
              (click)="cargarDatos()">Recargar <i class="bi bi-arrow-clockwise"></i></button>
    </div>
    <!-- Tabla de datos -->
    <table class="table table-striped table-hover m-t-10">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Usuario</th>
          <th scope="col">Correo</th>
          <th scope="col">Sexo</th>
          <th scope="col">Estatus</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of Usuarios;">
          <td>{{usuario.id}}</td>
          <td>{{usuario.nombreUsuario}}</td>
          <td>{{usuario.correo}}</td>
          <td>{{usuario.sexo}}</td>
          <td>{{usuario.estatus | estatuspipe}}</td>
          <td>
            <i class="bi bi-person-dash-fill acction-table" (click)="desactivarUsuario(usuario)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>