<div class="limiter animated fadeInLeft">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-80 px-3 border">
            <!-- Formulario -->
            <form  [formGroup]="form" 
                    (ngSubmit)="login($event)"
                    class="login100-form validate-form flex-sb flex-w justify-content-center">
                <!-- Encabezzdo -->
                <span class="login100-form-title p-b-51">
                    Login
                </span>
                <!-- Email -->
                <div class="wrap-input100">
                    <input class="input100"
                        type="email" 
                        name="correo" 
                        formControlName="email"
                        placeholder="Correo">
                    <span class="focus-input100"></span>
                </div>
                <!-- Mensaje de error de error de mensaje -->
                <div *ngIf="emailField.hasError && emailField.touched">
                    <!-- Correo ingresado -->
                    <span *ngIf="emailField.hasError('required')"
                            class="text-danger animated fadeIn"> El correo es obligatorio</span>
                    <!-- Texto ingresado con formato no válido -->
                    <span *ngIf="emailField.hasError('email')"
                            class="text-danger animated fadeIn"> Ingrese un correo válido</span>
                </div>
           
                <!-- Pasword -->
                <div class="wrap-input100 m-t-16" data-validate>
                    <input class="input100"
                           type="password" 
                           name="password" 
                           formControlName="password"
                           placeholder="Password">
                    <span class="focus-input100"></span>
                </div>
                 <!-- Mensaje de error de error de la contraseña -->
                <span *ngIf="passwordFiel.touched && passwordFiel.hasError('required')" 
                        class="text-danger animated fadeIn">
                        La contraseña es obligatoria
                </span>              
                <!-- Boton -->
                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" 
                            type="submit">
                        Ingresar
                    </button>
                </div>

                <!-- ¿No tienes cuenta? -->
                <a routerLink="/registro" class="txt1 m-t-16">
                    ¿No tienes cuenta?
                </a>

            </form>
        </div>
    </div>
</div>


