/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.acction-table:hover{
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #827ffe;
    border-color: #827ffe;
}

.editar-icon{
    width: 46px;
    width: 46px;
    margin-bottom: 20px;
}
.cursor{
    cursor: pointer;
}

.logOut{
    color:#A1192C;
}